<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndsc.blog.mapper.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.ndsc.blog.entity.Blog" >
    <id column="blog_id" property="blogId" jdbcType="INTEGER" />
    <result column="blog_title" property="blogTitle" jdbcType="VARCHAR" />
    <result column="blog_create_time" property="blogCreateTime" jdbcType="TIMESTAMP" />
    <result column="blog_pub_type" property="blogPubType" jdbcType="INTEGER" />
    <result column="blog_read_num" property="blogReadNum" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ndsc.blog.entity.Blog" extends="BaseResultMap" >
    <result column="blog_content" property="blogContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    blog_id, blog_title, blog_create_time, blog_pub_type, blog_read_num, user_id
  </sql>
  <sql id="Blob_Column_List" >
    blog_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ndsc.blog.entity.Blog" >
    insert into blog (blog_id, blog_title, blog_create_time, 
      blog_pub_type, blog_read_num, user_id, 
      blog_content)
    values (#{blogId,jdbcType=INTEGER}, #{blogTitle,jdbcType=VARCHAR}, #{blogCreateTime,jdbcType=TIMESTAMP}, 
      #{blogPubType,jdbcType=INTEGER}, #{blogReadNum,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{blogContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ndsc.blog.entity.Blog" >
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        blog_id,
      </if>
      <if test="blogTitle != null" >
        blog_title,
      </if>
      <if test="blogCreateTime != null" >
        blog_create_time,
      </if>
      <if test="blogPubType != null" >
        blog_pub_type,
      </if>
      <if test="blogReadNum != null" >
        blog_read_num,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="blogContent != null" >
        blog_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="blogTitle != null" >
        #{blogTitle,jdbcType=VARCHAR},
      </if>
      <if test="blogCreateTime != null" >
        #{blogCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blogPubType != null" >
        #{blogPubType,jdbcType=INTEGER},
      </if>
      <if test="blogReadNum != null" >
        #{blogReadNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="blogContent != null" >
        #{blogContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ndsc.blog.entity.Blog" >
    update blog
    <set >
      <if test="blogTitle != null" >
        blog_title = #{blogTitle,jdbcType=VARCHAR},
      </if>
      <if test="blogCreateTime != null" >
        blog_create_time = #{blogCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blogPubType != null" >
        blog_pub_type = #{blogPubType,jdbcType=INTEGER},
      </if>
      <if test="blogReadNum != null" >
        blog_read_num = #{blogReadNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="blogContent != null" >
        blog_content = #{blogContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ndsc.blog.entity.Blog" >
    update blog
    set blog_title = #{blogTitle,jdbcType=VARCHAR},
      blog_create_time = #{blogCreateTime,jdbcType=TIMESTAMP},
      blog_pub_type = #{blogPubType,jdbcType=INTEGER},
      blog_read_num = #{blogReadNum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      blog_content = #{blogContent,jdbcType=LONGVARCHAR}
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ndsc.blog.entity.Blog" >
    update blog
    set blog_title = #{blogTitle,jdbcType=VARCHAR},
      blog_create_time = #{blogCreateTime,jdbcType=TIMESTAMP},
      blog_pub_type = #{blogPubType,jdbcType=INTEGER},
      blog_read_num = #{blogReadNum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>
</mapper>