body{
    width: 100%;
    margin: 0px 0px 0px 0px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration:none;
    color: red;
}

.top{
    width: 100%;
    box-shadow: 0 0 10px 0px #cccccc;
}

.w{
    width: 1180px;
    margin: auto;
}

.top .w{
    height: 40px;
}

.logo{
    width: 90px;
    height: 40px;
    background-color: blue;
    float: left;
    background-image: url("../images/blogIndex/logo.png");
}

.nav{
    width: 500px;
    height: 40px;
    float: left;
    /*background-color: purple;*/
}
.nav a{
    color: black;
}
.nav a:hover{
    color: red;
}

li{
    list-style: none;
    font-size: 14px;
}
.nav li{
    float: left;
    margin-left: 20px;
    line-height: 40px;
}
#search{
    width: 330px;
    height: 40px;
    float: left;
}
.searchtext{
    width: 220px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    /*background-color: #f10215;*/
    float: left;
    border:1px solid #ccc;
}
#searchtext{
    margin-top: 6px;
    border: 0px;
    size: 40px;
    margin-left: 10px;
    outline:none;
    color: #cccccc;
}

.searchbutton{
    width: 50px;
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
    float: left;
    font-size: 12px;
    color: black;
    background-color: white;
    outline:none;
    border-radius: 12px;
    border: 2px solid red;
}

.write{
    width: 80px;
    height: 30px;
    float: left;
    margin-top: 4px;
    background-color: red;
    color: white;
    line-height: 30px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 12px;
}

.write a{
    color: white;
}
.write a:hover{
    color: white;
}
.login{
    width: 160px;
    height: 40px;
    float: left;
}
.login li{
    float: left;
    margin-left: 20px;
    line-height: 40px;
}

.main{
    margin-top: 10px;
    width: 100%;
}
.main .w{
    /*background-color: #f10215;*/
}

.leftlabel{
    position: fixed;
    margin-left: 60px;
    margin-top: 50px;
    width: 100px;
    height: 600px;
}

.leftlabel li:hover{
    background-color: #e2231a;
}
.leftlabel a:hover{
    color: white;
}
.leftlabel li{
    width: 96px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:1px solid #ccc;
}

.rightlabel{
    position: fixed;
    margin-left: 1360px;
    margin-top: 550px;
    width: 50px;
    height: 130px;

}

.rightlabel li:hover{
    background-color: #e2231a;
}
.rightlabel a:hover{
    color: white;
}
.rightlabel li{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border:1px solid #ccc;
}
/*轮播图部分*/
#ad{
    width: 1180px;
    height: 300px;
    position: relative;

}
#adpart1{
    width: 400px;
    height: 300px;
    float: left;
    margin-left: 100px;
    position: relative;
}
#adpart1 img{
    width: 100%;
    height: 100%;
    position: absolute;
}
#click{
    position: absolute;
    bottom: -6px;
    width:100px;
    height: 30px; 
    left:250px;
}
#click ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabLi{
    border: 1px solid white;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 200%;
    margin-left: 5px;
    background-color: #7d7d7d;
}
.tabLi:hover{
    cursor: pointer;
}
#turn{
    position: absolute;
    top: 128px;
    left: 101px;
    width: 398px;
}
#leftTurn{
    float: left;
}
#leftTurn:hover{
    cursor: pointer;
}
#rightTurn{
    float: right;
}
#rightTurn:hover{
    cursor: pointer;
}
/*.adpart2{
    width: 400px;
    height: 300px;
    margin-left: 20px;
    float: left;
    background-image: url("../images/blogIndex/ad2.jpg");
}

.adpart3{
    width: 340px;
    height: 300px;
    margin-left: 20px;
    float: left;
    background-color: #00db00;
}*/

.blog{
    width: 1180px;
    height: 1200px;
    margin-top: 20px;
    /*background-color: blue;*/
}

.blog li{
    width: 1180px;
    height: 200px;

    border:1px dashed #000
}

